<section>
    <div>
        <h2>Work</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ducimus cumque quidem corporis magnam 
            aspernatur repellat ipsum exercitationem, suscipit iste, vel quas 
            labore obcaecati, reprehenderit aliquid sapiente totam saepe quae?
        </p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ducimus cumque quidem corporis magnam 
            aspernatur repellat ipsum exercitationem, suscipit iste, vel quas 
            labore obcaecati, reprehenderit aliquid sapiente totam saepe quae?
        </p>
    </div>
</section>