<!-- <div class="intro">
    <h1>{{ title | uppercase }}</h1>
    <h1>{{ showDate | date }}</h1>
    <h1>{{ showDate | date: "dd-MM-YYYY"}}</h1>
    <h1>{{ showDate | date: "dd/MM/YYYY"}}</h1>
    <h1>{{ showDate | date: "dd-MMM-YYYY"}}</h1>
    <h1>{{ showDate | date: "dd-MMMM-YYYY" | uppercase}}</h1>
</div> -->

<!-- <div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Salary</th>
        </tr>
        <tr *ngFor="let emp of employees">
            <td>{{emp.name | titlecase}}</td>
            <td>{{emp.state | slice:0:3 | uppercase}}</td>  -->
            <!-- diaplay first three letters of state in uppercase-->
            <!-- <td>{{emp.salary | currency:'USD'}}</td>
        </tr>
    </table>
</div> -->

<div class="slice">
    <h1>{{"Angular Slice method" | slice: 0:13 }}</h1>
    <h1>{{"Angular Slice method" | slice: 3:7 }}</h1>
    <h1>{{"Angular Slice method" | slice: 0:-11 }}</h1> <!--from 0 index to -10 index -Angular S -->
    <h1>{{"Angular Slice method" | slice: -11 }}</h1> <!--from -1 index to -11 index -lice method -->
    <h1>{{sliceArray | slice: 0:3}}</h1>
    <h1>{{sliceArray | slice: -4}}</h1>
    <h1>{{sliceArray | slice: -2}}</h1>
    <h1>{{sliceArray | slice: 0:-2}}</h1>
    <h1>{{sliceArray | slice: 1}}</h1> <!-- to that index to end-->
</div>
<hr>

<div class="number-pipe">
    <h1>{{110 |number:"3.2-3"}}</h1>
    <h1>{{110.66 |number:"3.1-1"}}</h1>
    <h1>{{110.666 |number:"3.2-2"}}</h1>
    <h1>{{ pi |number:"2.2-2"}}</h1>
    <h1>{{ pi |number:"1.2-2"}}</h1>
</div>
<hr>

<div class="task-poundConverter">
    <div class="">
        <label for="weightInPounds">Enter weight in pounds:</label>
        <input type="number" id="weightInPounds" [(ngModel)]="weightInPounds">
    </div>
    <button (click)="convert()">Convert</button>
    <h2>weight in Kilograms: {{weightInKilograms | number: "2.0-0"}}</h2>
</div>
<hr>

<div class="json">
    <div class="withput-json">
        <h1>Without JSON</h1>
        <p>{{userDetails}}</p>
    </div>
    <div class="with-json">
        <h1>With JSON</h1>
        <pre>{{userDetails | json}}</pre>
    </div>
</div>
<hr>

<div class="table-json">
    <table border="1" cellSpacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students">
                <th>{{student.name}}</th>
                <th>{{student.Age}}</th>
                <th>{{student.gender}}</th>
            </tr>
        </tbody>
    </table>
</div>
<button type="button" (click)="convertJSON()">JSON Format</button>
<div *ngIf="showJson">
    <h2> JSON Format</h2>
    <pre>{{students | json |titlecase }}</pre>
</div>