<!-- <app-fundamentals></app-fundamentals> -->
<!-- <app-fundamentals-2></app-fundamentals-2> -->
<!-- <app-directives></app-directives> -->
<!-- <app-directives-2></app-directives-2> -->
<!-- <app-lifecycle-hooks></app-lifecycle-hooks> -->
<!-- <app-parent-decorator></app-parent-decorator> -->
<!-- <app-decorator-assignment></app-decorator-assignment> -->
<!-- <app-angular-pipes></app-angular-pipes> -->
<!-- <app-custom-pipes></app-custom-pipes> -->

<!-- <router-outlet>
  <a routerLink="./route">Click</a>
</router-outlet> -->

<!-- <html>
  <head>
    <title>Navbar</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a routerLink="./home">Home</a></li>
          <li><a routerLink="./work">Work</a></li>
          <li><a routerLink="./about">About</a></li>
          <li><a routerLink="./service">Services</a></li>
          <li><a routerLink="./news">News</a></li>
          <li><a routerLink="./contact">Contact</a></li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </header>
  </body>
  </html> -->
  <router-outlet></router-outlet>

