<!-- <div class="input-decorator">
    <h1>Input Decorator</h1>
    <button (click)="showMsg()">Update Msg</button>
    <app-child-decorator [receiveMessage]="displayMessage"></app-child-decorator>
</div>

<div class="assignment">
    <h2>Parent Component</h2>
    <pre>{{courses | json}}</pre>
    <app-child-decorator [showData]="courses"></app-child-decorator>
</div>

<div class="output">
    <h1> Output Decorator</h1>
    <app-child-decorator (myEvent)="receivedChildEvent($event)"></app-child-decorator>
    <p>{{message}}</p>
</div>

<div class="Assignment">
    <h1>Parent Component</h1>
    <button (click)="addItem()">Add Me</button>
    <app-child-decorator [items]="itemArray" (deletedIndex)="deleteItem($event)"></app-child-decorator>
</div> -->

<!-- <div class="viewchild">
    <h1>Parent viewChild decorator</h1>
    <button #btnIncr (click)="incrementChildCounter()">Incr counter</button>
    <app-child-decorator></app-child-decorator>
</div> -->

<!-- <div class="contentChild">
    <h1>ContentChild Parent Component</h1>
    <app-child-decorator>
        <section>
            <h2>Heading</h2>
            <p #showPara>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa laboriosam eos, reprehenderit expedita impedit4
                uga sed maxime dicta deserunt enim quos accusamus mollitia repudiandae aliquid vel debitis assumenda, quibusdam eum!
            </p>
        </section>
    </app-child-decorator>
</div> -->

<div appHighLightElement class="hostBinding">
    <h2>Host Binding</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quae nulla, molestias et,
        blanditiis esse est minus suscipit eum fugiat, a voluptas ducimus aspernatur nisi numquam nihil dicta libero sint.</p>
</div>