<!-- <div class="input-decorator">
    <h2>child Component</h2>
    <h3>{{receiveMessage}}</h3>
</div> -->

<!-- <div class="assignment">
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of showData">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- <div class="output">
    <button (click)="emitEvent()">Click Me</button>
</div> -->
<!-- <div>
    <h1>Child Component</h1>
    <ul>
        <li *ngFor="let item of items;let  i=index">
            {{item}}
            <button (click)="deleteIndex(i)">Delete</button>
        </li>
    </ul>
</div> -->

<!-- <div class="viewChild">
    <h3>Child component</h3>
    <p> Counter value: {{count}}</p>
</div> -->

<div class="contentChild">
    <h3>contentChild Child Component</h3>
    <ng-content></ng-content>
</div>