<!-- ngOnchanges hook -->
<!-- <div>
    <h1>Previous Value: {{previousValue}}</h1>
    <h1> Current Value: {{currentValue}}</h1>
</div> -->

<!-- ngDoCheck hook -->
<!-- <div class="docheck-hook">
    <h3>Input Value</h3>
    <pre>{{ user | json }}</pre>
</div> -->

<!-- ngAfterContentInit -->
<!-- <div class="ngAfterContent">
    <h2>child component</h2>
    <ng-content></ng-content>
     <div #wrapper>
        <ng-content></ng-content>
     </div>
</div> -->

<div class="destroy">
    <h1>Test Component</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Doloribus expedita sapiente recusandae odit dolor, ratione laborum blanditiis neque fugit
        porro quidem ad atque assumenda accusantium, eum impedit quas quae a.
    </p>
</div>