<!-- <form #myform="ngForm" (ngSubmit)="submitForm(myform)">
    <div>
        <label for="username">User Name</label>
        <input type="text" name="username" required [(ngModel)]="user.userName"/>
    </div>
    <button type="submit">Submit</button>
</form> -->

<!-- <app-task></app-task> -->

<form class="form-container" #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <div class="nameBox">
        <label for="username">Name:</label>
        <input type="text" name="username" required [(ngModel)]="username" />
    </div>
    <div class="emailBox">
        <label for="username">Email:</label>
        <input type="text" name="email" required [(ngModel)]="email" />
    </div>
    <div class="countryBox">
        <label for="country">Country:</label>
        <select name="select" [(ngModel)]="selectedCountry">
            <option *ngFor="let country of countries" [value]="country.value">{{country.name}}</option>
        </select>
    </div>
    <div class="cityBox">
        <label for="city">City:</label>
        <select name="city" [(ngModel)]="selectedCity">
            <option *ngFor="let city of getCitiesByCountry(selectedCountry)" [value]="city">{{city}}</option>
        </select>
    </div>
    <button type="submit">Submit</button>
</form>