<!-- <div class="route">
    <h1>Angular Component</h1>
    <p>Angular Routing is working...</p>
</div> -->

<!-- <div class="emplyee">
    <table>
        <thead>
            <tr>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            @for(emp of employees; track $index){
                <tr>
                    <td>
                        <a href="/" [routerLink]="['./employee',emp.empName,emp.empId]">
                            {{emp.empDept}}
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> -->

<div class="children">
    <h1> Parent Component</h1>
    <ul>
        <li><a href="#" routerLink="/parent/child1">child 1</a></li>
        <li><a href="#" routerLink="/parent/child2">child 2</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>